{% extends "base.html" %}

{% load i18n %}

{% block title %}
    Регистрация :: DOU Хакатон в Севастополе - 18 мая
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <form class="form-horizontal" action="{{ request.path }}" method="post" accept-charset="utf-8">
            <legend>Регистрационная форма участника</legend>
            {% csrf_token %}
            {% for field in form %}
                <div class="control-group {% if field.errors %}error{% endif %}">
                    {% if field.errors %}
                    <div class="alert alert-error">
                        {{ field.errors }}
                    </div>
                    {% endif %}
                    <label class="control-label" for="{{ field.auto_id }}">{{ field.label }}</label>
                    <div class="controls">
                        {{ field }}
                    </div>
                </div>
            {% endfor %}
            {# {{ form.as_p }} #}
            <div class="form-actions">
                <button type="submit" class="btn btn-danger">Зарегистрироваться</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
