<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Контакты :: DOU Хакатон в Севастополе - 18 мая</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- Le styles -->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="css/style.css" rel="stylesheet">

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container" style="margin-top: 150px;">
			<div class="row">
				<div class="span6">
					<h1>DOU Хакатон в Севастополе</h1>
				</div>
				<div class="span6" style="padding-top: 15px;">
					<a href="/" class="btn btn-danger">Что это?</a>
					<a href="/contacts" class="btn btn-danger">Контакты</a>
					<a href="/register" class="btn btn-danger">Регистрация</a>
				</div>
			</div>
			<div class="row">
				<div class="span12">
					<dl>
						<dt><h3>Тимошенков Игорь</h3></dt>
						<dd>+38 066 984 72 94, <a class="red-link" href="mailto:igor.timoshenkov@gmail.com">igor.timoshenkov@gmail.com</a></dd>

						<dt><h3>Сергей Рябенко</h3></dt>
						<dd>+38 095 384 77 79, <a class="red-link" href="mailto:ryabenko.sergey@gmail.com">ryabenko.sergey@gmail.com</a></dd>

						<dt><h3>Сергей Пономарев</h3></dt>
						<dd>+38 096 978 29 75, <a class="red-link" href="mailto:stokito@gmail.com">stokito@gmail.com</a></dd>

						<dt><h3>Александр Шалахин</h3></dt>
						<dd><a class="red-link" href="mailto:olexandr@shalakhin.com">olexandr@shalakhin.com</a></dd>
					</dl>
				</div>
			</div>
			<br/><br/>
			<div class="row">
				<div class="span12">
					<p>Хакатон проводиться группой <a href="/contacts" class="red-link">активистов</a> при поддержке <a href="http://dou.ua" class="red-link">DOU.ua</a> и, конечно же, компаний-партнеров:</p>
					<a href="http://dou.ua"><img src="img/dou.jpg" /></a>
					<a href="http://smartbit.in.ua/"><img src="img/smartbit.png" /></a>
				</div>
			</div>
		</div>
	</body>
</html>