{% extends "base.html" %}

{% block title %}
    Контакты :: DOU Хакатон в Севастополе - 18 мая
{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <dl>
            <dt><h3>Тимошенков Игорь</h3></dt>
            <dd>+38 066 984 72 94, <a class="red-link" href="mailto:igor.timoshenkov@gmail.com">igor.timoshenkov@gmail.com</a></dd>

            <dt><h3>Сергей Рябенко</h3></dt>
            <dd>+38 095 384 77 79, <a class="red-link" href="mailto:ryabenko.sergey@gmail.com">ryabenko.sergey@gmail.com</a></dd>

            <dt><h3>Сергей Пономарев</h3></dt>
            <dd>+38 096 978 29 75, <a class="red-link" href="mailto:stokito@gmail.com">stokito@gmail.com</a></dd>

            <dt><h3>Александр Шалахин</h3></dt>
            <dd>+38 066 958 80 25, <a class="red-link" href="mailto:olexandr@shalakhin.com">olexandr@shalakhin.com</a></dd>
        </dl>
    </div>
</div>
{% endblock %}
