{% extends "base.html" %}

{% load staticfiles i18n %}

{% block content %}
			<div class="row">
				<div class="span12">
					<h3>Что?</h3>
					<blockquote>Хакатон (англ. hackathon, от hack — взлом и marathon — марафон) — мероприятие, во время которого специалисты из разных областей разработки программного обеспечения (программисты, дизайнеры, менеджеры) сообща работают над решением какой-либо проблемы.
						<small>определение из <a href="http://ru.wikipedia.org/wiki/%D0%A5%D0%B0%D0%BA%D0%B0%D1%82%D0%BE%D0%BD" class="red-link">Wikipedia.org</a></small>
					</blockquote>
					<p>но на самом деле все это гораздо веселее!</p>

					<h3>Где?</h3>
					<p>В городе-герое Севастополе. Мероприятие пройдет в анти-кафе Время, расположенном на ул. Новороссийской. Вот <a class="red-link" href="http://maps.yandex.ua/-/CVVqy4md" target="_blank">карта</a>.</p>

					<h3>Когда?</h3>
					<p><b>18 Мая</b> 2013 года. Начало мероприятия в <b>13:00</b>.</p>
				</div>
			</div>
{% endblock %}
